openapi: 3.0.0
info:
  title: Carbon Intensity API - Regional
  description: |
    The National Grid's Carbon Intensity API offers an indicative trend of GB's regional electricity system's carbon intensity, providing access to forecasted and estimated carbon intensity data. It includes CO2 emissions from all significant sources related to electricity generation.


    **Parameters**
    | Parameter | Description |
    |-----------|-------------|
    | postcode  | Outward postcode i.e. RG41 or SW1 or TF8. Do not include full postcode, outward postcode only.|
    | regionid  | Region ID of GB region. See list of Region IDs|
    | from      | Starting datetime for a given operation or query in ISO8601 format, which includes the year (YYYY), month (MM), day (DD), hour (hh), minute (mm), and timezone offset (Z) from UTC time.|
    | to        | Ending datetime for a given operation or query in ISO8601 format, which includes the year (YYYY), month (MM), day (DD), hour (hh), minute (mm), and timezone offset (Z) from UTC time.|

    **Region IDs**
    | Region ID | Short name        |
    |-----------|-------------------|
    | 1         | North Scotland    |
    | 2         | South Scotland    |
    | 3         | North West England|
    | 4         | North East England|
    | 5         | Yorkshire         |
    | 6         | North Wales       |
    | 7         | South Wales       |
    | 8         | West Midlands     |
    | 9         | East Midlands     |
    | 10        | East England      |
    | 11        | South West England|
    | 12        | South England     |
    | 13        | London            |
    | 14        | South East England|
    | 15        | England           |
    | 16        | Scotland          |
    | 17        | Wales             |
  contact:
    name: National Grid
    email: alasdair.bruce@nationalgrid.com
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  version: 2.0.0
externalDocs:
  description: Find out more about Carbon Intensity API
  url: https://carbonintensity.org.uk/
servers:
  - url: https://api.carbonintensity.org.uk
tags:
  - name: intensity
    description: Carbon Intensity - Regional
  - name: stats
    description: Statistics - Regional
paths:
  /regional:
    get:
      operationId: regionalIntensity
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for current half hour. All times provided in UTC (+00:00).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/england:
    get:
      operationId: regionalIntensityEngland
      tags:
        - intensity
      description: Get Carbon Intensity data for current half hour for England. All times provided in UTC (+00:00).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/scotland:
    get:
      operationId: regionalIntensityScotland
      tags:
        - intensity
      description: Get Carbon Intensity data for current half hour for Scotland. All times provided in UTC (+00:00).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/wales:
    get:
      operationId: regionalIntensityWales
      tags:
        - intensity
      description: Get Carbon Intensity data for current half hour for Wales. All times provided in UTC (+00:00).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/postcode/{postcode}:
    get:
      operationId: regionalIntensityByPostcode
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for current half hour for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: postcode
          in: path
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/regionid/{regionid}:
    get:
      operationId: regionalIntensityByRegionId
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for current half hour for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: regionid
          in: path
          required: true
          schema:
            type: string
            example: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/fw24h:
    get:
      operationId: regionalIntensityFw24h
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for next 24h. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/fw24h/postcode/{postcode}:
    get:
      operationId: regionalIntensityFw24hByPostcode
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for next 24h for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
        - name: postcode
          in: path
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/fw24h/regionid/{regionid}:
    get:
      operationId: regionalIntensityFw24hByRegionId
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for next 24h for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-05-11
        - name: regionid
          in: path
          required: true
          schema:
            type: string
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/fw48h:
    get:
      operationId: regionalIntensityFw48h
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for next 48h. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/fw48h/postcode/{postcode}:
    get:
      operationId: regionalIntensityFw48hByPostcode
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for next 48h for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
        - name: postcode
          in: path
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/fw48h/regionid/{regionid}:
    get:
      operationId: regionalIntensityFw48hByRegionId
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for next 48h for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
        - name: regionid
          in: path
          required: true
          schema:
            type: string
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/pt24h:
    get:
      operationId: regionalIntensityPt24h
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for past 24h. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/pt24h/postcode/{postcode}:
    get:
      operationId: regionalIntensityPt24hByPostcode
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for past 24h for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
        - name: postcode
          in: path
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/pt24h/regionid/{regionid}:
    get:
      operationId: regionalIntensityPt24hByRegionId
      tags:
        - intensity
      description: Get Regional Carbon Intensity data for past 24h for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
        - name: regionid
          in: path
          required: true
          schema:
            type: string
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/{to}:
    get:
      operationId: regionalIntensityFromTo
      tags:
        - intensity
      description: Get Regional Carbon Intensity data between specified datetimes. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example:  2023-05-01
        - name: to
          in: path
          required: true
          schema:
            type: string
            example:  2023-05-11
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/{to}/postcode/{postcode}:
    get:
      operationId: regionalIntensityFromToByPostcode
      tags:
        - intensity
      description: Get Regional Carbon Intensity data between specified datetimes for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example:  2023-05-01
        - name: to
          in: path
          required: true
          schema:
            type: string
            example: 2023-05-11
        - name: postcode
          in: path
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /regional/intensity/{from}/{to}/regionid/{regionid}:
    get:
      operationId: regionalIntensityFromToByRegionId
      tags:
        - intensity
      description: Get Regional Carbon Intensity data between specified datetimes for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example:  2023-05-01
        - name: to
          in: path
          required: true
          schema:
            type: string
            example:  2023-05-11
        - name: regionid
          in: path
          required: true
          schema:
            type: string
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intensity"
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Intensity:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                format: date-time
              to:
                type: string
                format: date-time
              intensity:
                type: object
                properties:
                  forecast:
                    type: number
                  actual:
                    type: number
                  index:
                    type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    Statistics:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                format: date-time
              to:
                type: string
                format: date-time
              intensity:
                type: object
                properties:
                  max:
                    type: number
                  average:
                    type: number
                  min:
                    type: number
                  index:
                    type: string
