openapi: 3.0.0
info:
  title: Carbon Intensity API
  description: |-
    "National Grid's Carbon Intensity API provides an indicative trend of regional carbon intensity of the electricity system in Great Britain (GB) up to 2 days ahead of real-time. It provides programmatic and timely access to both forecast and estimated carbon intensity data. The Carbon Intensity forecast includes CO2 emissions related to electricity generation only. The includes emissions from all large metered power stations, interconnector imports, transmission and distribution losses, and accounts for national electricity demand, embedded wind and solar generation."
    "The from parameter specifies the starting datetime for a given operation or query in ISO8601 format, which includes the year (YYYY), month (MM), day (DD), hour (hh), minute (mm), and timezone offset (Z) from UTC time."
    
  contact:
    name: National Grid
    email: alasdair.bruce@nationalgrid.com
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  version: 2.0.0
externalDocs:
  description: Find out more about Carbon Intensity API
  url: https://carbonintensity.org.uk/
servers:
  - url: https://api.carbonintensity.org.uk
tags:
  - name: intensity
    description: Carbon Intensity - Regional
  - name: stats
    description: Statistics - Regional
paths:
  /regional:
    get:
      operationId: regionalIntensity
      tags:
        - intensity
      summary: Get Carbon Intensity data for current half hour for GB regions
      description: Get Regional Carbon Intensity data for current half hour. All times provided in UTC (+00:00).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/england:
    get:
      operationId: regionalIntensityEngland
      tags:
        - intensity
      summary: Get Carbon Intensity data for current half hour for England
      description: Get Carbon Intensity data for current half hour for England. All times provided in UTC (+00:00).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/scotland:
    get:
      operationId: regionalIntensityScotland
      tags:
        - intensity
      summary: Get Carbon Intensity data for current half hour for Scotland
      description: Get Carbon Intensity data for current half hour for Scotland. All times provided in UTC (+00:00).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/wales:
    get:
      operationId: regionalIntensityWales
      tags:
        - intensity
      summary: Get Carbon Intensity data for current half hour for Wales
      description: Get Carbon Intensity data for current half hour for Wales. All times provided in UTC (+00:00).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/postcode/{postcode}:
    get:
      operationId: regionalIntensityByPostcode
      tags:
        - intensity
      summary: Get Carbon Intensity data for current half hour for specified postcode
      description: Get Regional Carbon Intensity data for current half hour for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: postcode
          in: path
          description: Outward postcode i.e. RG41 or SW1 or TF8. Do not include full postcode, outward postcode only.
          required: true
          schema:
            type: string
            example: RG41
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/regionid/{regionid}:
    get:
      operationId: regionalIntensityByRegionId
      tags:
        - intensity
      summary: Get Carbon Intensity data for current half hour for specified region
      description: Get Regional Carbon Intensity data for current half hour for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: regionid
          in: path
          description: Region ID of GB region. See list of Region IDs
          required: true
          schema:
            type: string
            enum: [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12.
              13,
              14,
              15,
              16,
              17
            ]
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/fw24h:
    get:
      operationId: regionalIntensityFw24h
      tags:
        - intensity
      summary: Get Carbon Intensity data for next 24h for GB regions
      description: Get Regional Carbon Intensity data for next 24h. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/fw24h/postcode/{postcode}:
    get:
      operationId: regionalIntensityFw24hByPostcode
      tags:
        - intensity
      summary: Get Carbon Intensity data for next 24h for specified postcode
      description: Get Regional Carbon Intensity data for next 24h for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: postcode
          in: path
          description: Outward postcode i.e. RG41 or SW1 or TF8. Do not include full postcode, outward postcode only.
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/fw24h/regionid/{regionid}:
    get:
      operationId: regionalIntensityFw24hByRegionId
      tags:
        - intensity
      summary: Get Carbon Intensity data for next 24h for specified region
      description: Get Regional Carbon Intensity data for next 24h for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: regionid
          in: path
          description: Region ID of GB region. See list of Region IDs
          required: true
          schema:
            type: string
            enum: [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12.
              13,
              14,
              15,
              16,
              17
            ]
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/fw48h:
    get:
      operationId: regionalIntensityFw48h
      tags:
        - intensity
      summary: Get Carbon Intensity data for next 48h for GB regions
      description: Get Regional Carbon Intensity data for next 48h. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/fw48h/postcode/{postcode}:
    get:
      operationId: regionalIntensityFw48hByPostcode
      tags:
        - intensity
      summary: Get Carbon Intensity data for next 48h for specified postcode
      description: Get Regional Carbon Intensity data for next 48h for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: postcode
          in: path
          description: Outward postcode i.e. RG41 or SW1 or TF8. Do not include full postcode, outward postcode only.
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/fw48h/regionid/{regionid}:
    get:
      operationId: regionalIntensityFw48hByRegionId
      tags:
        - intensity
      summary: Get Carbon Intensity data for next 48h for specified region
      description: Get Regional Carbon Intensity data for next 48h for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: regionid
          in: path
          description: Region ID of GB region. See list of Region IDs
          required: true
          schema:
            type: string
            enum: [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12.
              13,
              14,
              15,
              16,
              17
            ]
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/pt24h:
    get:
      operationId: regionalIntensityPt24h
      tags:
        - intensity
      summary: Get Carbon Intensity data for past 24h for GB regions
      description: Get Regional Carbon Intensity data for past 24h. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/pt24h/postcode/{postcode}:
    get:
      operationId: regionalIntensityPt24hByPostcode
      tags:
        - intensity
      summary: Get Carbon Intensity data for past 24h for specified postcode
      description: Get Regional Carbon Intensity data for past 24h for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: postcode
          in: path
          description: Outward postcode i.e. RG41 or SW1 or TF8. Do not include full postcode, outward postcode only.
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/pt24h/regionid/{regionid}:
    get:
      operationId: regionalIntensityPt24hByRegionId
      tags:
        - intensity
      summary: Get Carbon Intensity data for past 24h for specified region
      description: Get Regional Carbon Intensity data for past 24h for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Datetime in in ISO8601 format YYYY-MM-DDThh:mmZ e.g. 2017-08-25T12:35Z
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: regionid
          in: path
          description: Region ID of GB region. See list of Region IDs
          required: true
          schema:
            type: string
            enum: [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12.
              13,
              14,
              15,
              16,
              17
            ]
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/{to}:
    get:
      operationId: regionalIntensityFromTo
      tags:
        - intensity
      summary: Get Carbon Intensity data between specified datetimes for GB regions
      description: Get Regional Carbon Intensity data between specified datetimes. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          description: Get Regional Carbon Intensity data between specified datetimes. All times provided in UTC (+00:00).
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: to
          in: path
          required: true
          description: Get Regional Carbon Intensity data between specified datetimes. All times provided in UTC (+00:00).
          schema:
            type: string
            example: 2023-01-26T12:35Z
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/{to}/postcode/{postcode}:
    get:
      operationId: regionalIntensityFromToByPostcode
      tags:
        - intensity
      summary: Get Carbon Intensity data between specified datetimes for specified postcode
      description: Get Regional Carbon Intensity data between specified datetimes for specified postcode. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema: 
            type: string
            example: 2023-01-25T12:35Z
        - name: to
          in: path
          required: true
          schema:
            type: string
            example: 2023-01-26T12:35Z
        - name: postcode
          in: path
          description: Outward postcode i.e. RG41 or SW1 or TF8. Do not include full postcode, outward postcode only.
          required: true
          schema:
            type: string
            example: RG41
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /regional/intensity/{from}/{to}/regionid/{regionid}:
    get:
      operationId: regionalIntensityFromToByRegionId
      tags:
        - intensity
      summary: Get Carbon Intensity data between specified datetimes for specified region
      description: Get Regional Carbon Intensity data between specified datetimes for specified region. All times provided in UTC (+00:00).
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            example: 2023-01-25T12:35Z
        - name: to
          in: path
          required: true
          schema:
            type: string
            example: 2023-01-26T12:35Z
        - name: regionid
          in: path
          description: Region ID of GB region. See list of Region IDs
          required: true
          schema:
            type: string
            enum: [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12.
              13,
              14,
              15,
              16,
              17
            ]
            example: 1
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intensity'
        "400":
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Intensity:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                format: date-time
              to:
                type: string
                format: date-time
              intensity:
                type: object
                properties:
                  forecast:
                    type: number
                  actual:
                    type: number
                  index:
                    type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    Statistics:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                format: date-time
              to:
                type: string
                format: date-time
              intensity:
                type: object
                properties:
                  max:
                    type: number
                  average:
                    type: number
                  min:
                    type: number
                  index:
                    type: string